body {
    font-family: "Trebuchet MS", "sans-serif";
}


.menu {
    padding: 35px;
    height: 100px;
    width: 100%;
    text-align: left;
    background-color: #4169e1;
    
}

.menu h1 {
    color: #eee;
    font-size: 30px;
}

.form_input input {
    border: 40px;
    padding: 150px;
    height: 50px;
}

#submit_button {
    padding: 22.5px;
    height: 40px;
    width: 200px;
    position: relative;
    top: 35px;
}


